<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de IP com VirusTotal</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>
<body>
    <div class="container">
        <h1>Verificação de IP com VirusTotal</h1>
        <div class="search-container">
            <input type="text" id="ip" name="ip" placeholder="Digite o IP para verificar">
            <button onclick="checkIP()">Verificar</button>
        </div>

        <div class="results" id="results-section">
            <h2>Resultados da Verificação para o IP: <span id="ip-result"></span></h2>
            <ul id="results-list">
                <!-- Os resultados serão adicionados aqui dinamicamente -->
            </ul>
        </div>
    </div>

    <script>
        function checkIP() {
            var ip = document.getElementById('ip').value.trim();
            if (ip !== '') {
                fetch('/check-ip?ip=' + encodeURIComponent(ip))
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('ip-result').textContent = ip;
                        var resultsList = document.getElementById('results-list');
                        resultsList.innerHTML = '';
                        for (var scanner in data.scans) {
                            var details = data.scans[scanner];
                            var li = document.createElement('li');
                            li.innerHTML = '<strong>Scanner:</strong> ' + scanner + '<br>' +
                                           '<strong>Detectado:</strong> ' + (details.detected ? 'Sim' : 'Não') + '<br>' +
                                           '<strong>Resultado:</strong> ' + details.result + '<br>' +
                                           '<strong>Última atualização:</strong> ' + details.update + '<br>';
                            resultsList.appendChild(li);
                        }
                        document.getElementById('results-section').classList.add('show');
                    })
                    .catch(error => {
                        console.error('Erro ao buscar dados:', error);
                        alert('Erro ao buscar dados. Verifique o console para mais detalhes.');
                    });
            }
        }
    </script>
</body>
</html>
